{{ define "main" }}

<h1>about</h1>

<p>
Cam Rodriguez is a data and investigative journalist based out of Chicago, Illinois. She combines traditional shoeleather reporting skills, public records requests, code and data analysis to find patterns lurking in documents and databases. 
<p>Right now, she's a data reporter at <b>Chicago Public Media</b>, which publishes The Chicago Sun-Times and WBEZ, Chicago's NPR station. There, she works on stories about everything under the sun, in print, on the web and on air. Before that, she was a Local Investigations Fellow at The New York Times. </p>
<p><b>Reach out at <a href="mailto:crodriguez@wbez.org">crodriguez@wbez.org</a> or <a href="mailto:heycamrodriguez@gmail.com">heycamrodriguez@gmail.com</a></b>.</p>
<a href="about/">(more)</a>
</p>
<br/>

<h1>latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<!-- <h1>latest clips</h1>

<div class="clips-list">
{{ with .Site.GetPage "/clips" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div> -->

<h1>latest viz</h1>

<div class="image-grid">
{{ with .Site.GetPage "/work" }}
    {{ range first 3 (sort .Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}